SetEnv APPLICATION_ENV development

  AddType "text/javascript" .gz
  AddEncoding gzip .gz


RewriteEngine On

RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{DOCUMENT_ROOT}/cached/index.js -f
RewriteRule ^/*$ cached/index.js [L]

RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{DOCUMENT_ROOT}/cached/%{REQUEST_URI}\.js -f
RewriteRule .* cached/%{REQUEST_URI}\.js [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule !\.(pdf|js|ico|txt|gif|jpg|xml|png|css|rss|zip|gz)$ index.php [NC,L]
